<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Search software: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Free Software</option>
                <option value="age">Licensed Software</option>
            </select>
        </div>
        <div class="col-md-10">
            <!--Body content-->
            <ul class="phones">
                <li ng-repeat="software in softwares | filter:query | orderBy:orderProp"
                    class="thumbnail phone-listing">
                    <a href="#/softwares/{{software.id}}" class="thumb"><img ng-src="{{software.imageUrl}}"></a>
                    <a href="#/softwares/{{software.id}}">{{software.name}}</a>
                    <p>Type : {{software.type}}</p>
                    <p>{{software.snippet}}</p>
                    <input type="button" value="Add" id="" size="10">
                </li>
            </ul>
        </div>
    </div>
</div>
